[submodule "awesome-mail"]
	path = awesome-mail
	url = https://github.com/LienCF/awesome-mail.git
[submodule "awesome_mail_flutter"]
	path = awesome_mail_flutter
	url = https://github.com/LienCF/awesome_mail_flutter.git
